title {
  font-size: 40px;
  display: flex;
  justify-content: center;
  color: blue;
}

h2 {
  color: blue;
  display: flex;
  justify-content: center;
}

p {
  color:#FFF
  display: flex;
  justify-content: ceneter;
}

